<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671001901355-616rdlb2gn591vfkhugq79ujul3lflg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671001901355-616rdlb2gn591vfkhugq79ujul3lflg6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>671001901355-l7j8mn2h3i9044as423s277fthmbhgd8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB35-WpW04AoB0-V2xvUw6fSG8UlIpWdsw</string>
	<key>GCM_SENDER_ID</key>
	<string>671001901355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.conect</string>
	<key>PROJECT_ID</key>
	<string>sundusproject-a5c87</string>
	<key>STORAGE_BUCKET</key>
	<string>sundusproject-a5c87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671001901355:ios:6414391956dc81fe0b2d6e</string>
	<key>DATABASE_URL</key>
	<string>https://sundusproject-a5c87-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>